table {
  border:1.5px solid #545050;
  border-collapse:collapse;
  padding:5px;
}
table th {
  border:1px solid #545050;
  padding:5px;
  background: #071578;
  color: #ffffff;
}
table td {
  border:1px solid #b3adad;
  text-align:center;
  padding:5px;
  background: #ffffff;
  color: #313030;
}

.table_container {
  width: 100%;
  max-width: 500px;
  font-size: 1.2rem;
}

.tableHead {
  width: 20%;
  height: 3.2rem;
  vertical-align: middle;
  font-size: 1.5rem;
}

.tableRow td {
  height: 3rem;
  vertical-align: middle;
}

.tableRow.totals {
  border-top: 3px solid #d00000;
}

.rowName.total {
  background: #071578;
  color: #fff;
}

.table_monthly {
  margin-top: 2rem;
}

.HidetdpRow {
  display: none;
}

